@import url('https://fonts.googleapis.com/css?family=Jost:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body,html {
    padding: 0;
    margin: 0;
    /*(font-family: 'Jost', sans-serif;*/
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
    background: rgb(10, 10, 10);
}

#menu {
    background: rgb(20, 20, 20);
    padding: 25px;
    color: white;
    z-index: 1;
    transition: .5s;
}

.toggle-button img {
    filter: invert(100);
    width: 2%;
    margin: 10px;
}

.toggle-button {
    z-index: 0;

}

#menu a {
    text-decoration: none;
    color: white;
    margin-top: 20px;
}

::-webkit-scrollbar {
    display: none;
}

@keyframes logo-drop {
    from {
        opacity: 0;
        margin-bottom: 100%;
    }

    80% {
        opacity: 1;
        margin-bottom: -20%;
    }

    to {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes vk-drop {
    from {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    to {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes bg {
    from{
        opacity: 1;
        z-index: 1;
    }

    90% {
        opacity: 1;
        z-index: 1;
    }

    to {
        opacity: 0;
        z-index: -1;
    }
}

.logo {
    width: 80%;
    margin-bottom: -20%;
    animation: logo-drop 8s;
    opacity: 0;
    z-index: -1;
}

.logos {
    width: 50%;
    text-align: center;
}

.intro h2 {
    color: white;
    animation: vk-drop 8s;
    z-index: -1;
    opacity: 0;
}

.intro {
    background: #000;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 0;
    z-index: -1;
    animation: bg 8s;
}

.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 256px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: none;
  }

  .slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
  }

  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
    overflow: hidden;
  }

  .slideout-open .slideout-menu {
    display: block;
  }

@media (max-width:478px) {
    .toggle-button img {
        width: 7%;
        margin: 10px;
    }

}