@import url('https://fonts.googleapis.com/css?family=Jost:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body,html {
    padding: 0;
    margin: 0;
    /*(font-family: 'Jost', sans-serif;*/
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
}

h1::selection,h2::selection,h3::selection,h4::selection,h5::selection,h6::selection,a::selection, img::selection{
    background: #000;
    color:  white;
}


.menu_button::selection, .logo::selection, .dark 
h1::selection, .dark h2::selection, .dark h3::selection,.dark h4::selection, .dark h5::selection,.dark h6::selection,.dark a::selection{
    background: rgb(255, 255, 255);
    color:  rgb(0, 0, 0);
}

body {
    background: #f3f3f3;
}

header {
    background: #000;
    padding: 20px;
    transition: .5s;
}

@keyframes s3tart {
    from {
        transform: scale(1.15);

    }

    50% {
        transform: scale(1);
    }
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_button {
    color: #f3f3f3;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    transition: .5s;
}

.logo {
    width: 20%;
    margin-left: 40%;
    animation: s3tart 6.5s;
}

.menu_button:hover {
    transform: scale(1.1);
}

.about {
    text-align: center;
    margin-top: 2%;
}


.moon {
    filter: invert(100);
    width: 2%;
    position: absolute;
    top: 5%;
    right: 5%;
}

.dop_block_one a {
    transition: .5s;
}

.articles a:hover, .dop_block_one a:hover {
    box-shadow: 0px 1px 0 0 black;
}

.dark .articles a:hover, .dark .dop_block_one a:hover {
    box-shadow: 0px 1px 0 0 rgb(255, 255, 255);
}

span {
    display: none;
}

.moon2 {
    filter: invert(100);
    display: none;
    width: 2%;
    position: absolute;
    top: 5%;
    right: 5%;
}

.dop_block_one {
    margin: 10px;
}

.dark {
    background: #000;
}

.dark .about {
    color: white;
}

.dark .moon, .dark .moon2 {
    filter: invert(100);
}

.dark header {
    background: rgb(7, 7, 7);
}

.dots_anchor {
    position: fixed;
    right: -7%;
    left: auto;
    width: 10%;
    opacity: 0;
    transition: .5s;
}

.anchor_dot img {
    width: 5%;
    opacity: 0.4;
    transition: .5s;
}

.opacity {
    opacity: 1;
    transition: .5s;
}


.anchor_dot img:hover {
    opacity: 1;
}

.dark .anchor_dot img {
    filter: invert(100);
}

.anchor_dot {
    display: flex;
    align-items: center;
    margin: 5px;
}

.dark .menu_button {
    color: rgb(255, 255, 255);
}

.dark .logo {
    filter: invert(0);
}

.visible {
    display: block;
}

.inv {
    display: none;
}

.news_block {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background: rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    padding: 20px;
    margin-bottom: 5%;
}

.small_width {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.small_width_a {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.small_width_a img {
    width: 3%;
    transition: .5s;
    margin: 10px;
}

.dark .small_width_a img {
    filter: invert(100);
}

.small_width_a img:hover {
    transform: scale(0.75);
}

a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}


.dark .small_width_a {
    color: white;
}

.news_slider {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}



.dark .news_block {
    background: rgb(5, 5, 5);
    color: white;
}

.title_block a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.dark .title_block a {
    color: white;
}

.img_block {
    width: 100%;
}

.trail {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 25px;
    font-size:30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    transition: .5s;
}

.dark .trail {
    color: white;
}

.trail:hover {
    transform: scale(1.15);
}

.avatar img {
    border-radius: 50px;
    width: 5%;
    margin: 5px;
}

#latetrack {
    transition: none;
}

.tovar_block {
    text-align: left;
    width: 10%;
    margin-left: 2%;
    margin-right: 2%;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 5%;
}

.event_block {
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(250, 250, 250) ;
    padding: 20px;
    border-radius: 5px;
}

.eventimg {
    width: 100%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.tovar_block img {
    width: 100%;
    border-radius: 5px;
}

.buy {
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #000;
    border-radius: 500px;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.buy:hover {
    background: white;
    color: black;
}

.dark .buy {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.tovar {
    display: flex;
    justify-content: center;
}

.dark .buy:hover {
    background: rgb(3, 3, 3);
    color: white;
}

.dark .tovar_block {
    background: rgb(8, 8, 8);
    color: white;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nodec, .nodec2 {
    color: black;
    text-decoration: none;
    transition: .5s;
}

.nodec2 {
    font-weight: 600;
}

.nodec3 {
    color: black;
    text-decoration: none;
    transition: .5s;
    margin: 10px;
}

.dark .nodec, .dark .nodec2 {
    color: white;
}

.video_inter {
    width: 70%;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    margin: 25px;
    height: 250px;
    object-fit: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


.video_daid {
    width: 70%;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    margin: 20px;
    object-fit: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.dark .video_daid {
    color:white
}


.articles {
    margin-top: 3%;
}

#dark_button {
    color: black;
}

.dark #dark_button {
    color: white;
}

.audio_block {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background: rgb(250, 250, 250);
    padding: 25px;
    width: 30%;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dark .audio_block {
    background: rgb(8, 8, 8);
    color: white;
}

.about h5 {
    transition: .5s;
}

audio {
    width: 100%;
}

.prem_block {
    background: white;
    width: 20%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    transition: .5s;
}

.prem_block h3 {
    font-weight: 400;
    margin: 20px;
}

.prem_block_hat {
    background: #000;
    color: white;
    width: 20%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: .5s;
}

.prem_but {
    font-size: 20px;
    text-decoration: none;
    background: #000;
    color: white;
    border-radius: 30px;
    padding: 10px;
    transition: .5s;
}

.prem_but:hover {
    color: black;
    background: white;
}

.dark .prem_block {
    background: #000;
    color: white;
}

.dark .prem_block_hat {
    background: rgb(10, 10, 10);
}

.dark .prem_but:hover {
    background: rgb(10, 10, 10);
    color: white;
}

.card {
    width: 80%;
    border-radius: 15px;
    margin: 20px;
    text-decoration: none;
    color: white;
    margin-right: auto;
    margin-left: auto;
}

.card_button {
    color: black;
    text-decoration: none;
}

.dark .card_button {
    color: white;
}

.global_card {
    background: rgb(250, 250, 250);
    border-radius: 15px;
    width: 20%;
    padding: 20px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.dark .global_card {
    background-color: rgb(7, 7, 7);
}

.artist-card {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
color: white;
border-radius: 5px;
}

#PLYTON h2 {
    background: #000;
    width: 50%;
    transition: .5s;
}

#card {
    color: white;
    text-decoration: none;
}

#never {
    color: black; text-decoration: none;
}

.dark #never {
    color: white;
}

.audios .audio_block{
    width: 50%;
}

.artist-card h2:hover {
    transform: scale(1.2);
}

#PLYTON {
    background: url(https://sun9-32.userapi.com/FFFKPalPuf7hIDHsacdFSxYmwgIg5JXBd4xTlQ/N4Kc0KAoGhk.jpg) no-repeat;
    background-position-y: 65%;
    background-position-x: 50%;
}

.soc-block a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: black;
}

.dark .soc-block a {
    color: white;
}

.soc-block img {
    width: 10%;
    margin: 5px;
}

.articles a {
    font-weight: 600;
}

#p15 {
    margin-bottom: 15%;
}

#interview {
    margin-bottom: 15%;
}



.menu_lide {
    width: 5%;
    position: fixed;
    top: 1.5%;
    left: 5%;
    filter: invert(100);
    display: none;
    transition: .5s;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
}

.menu_lide:hover, .close:hover {
    transform: scale(0.75);
}

.close {
    width: 7%;
    margin-top: 2%;
    margin-left: 93%;
    filter: invert(100);
    transition: .5s;
}

.bg-black {
    background: #000;
    padding: 8.3%;
}

.slidd h1 {
    padding-left: 10%;
    margin-top: -28.5%;
    font-size: 20px;
    color: white;
}

.dark .slidd h1, .dark .menu-slide{
    color: white;
}

.dark .bg-black {
    background:rgb(7,7,7);
}

.dark .pus {
    background: #000;
}

#first {
    margin-top: 15%;
}
.menu-slide {
    padding-left: 10%;
    text-decoration: none;
    color: #000;
}

.slidd {
    margin-top: 10%;
}

.dark .pus {
    background: rgb(10, 10, 10);
}

.dark .pus img {
    filter: invert(100);
}
.slided {
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 478px) {
    .anchor_dot img {
        width: 20%;
    }

    .dots_anchor {
        right: -2%;
    }

    .menu {
        display: none;
    }

    .logo {
        display: none;
    }

    header {
        padding: 8.3%;
    }

    .menu_lide {
        display: block;
    }

    #p15 {
        margin-bottom: 25%;
    }
    
    #interview {
        margin-bottom: 25%;
    }

    .small_width_a img {
        width: 10%;
    }

    .tovar {
        display: block;
    }

    .about {
        margin-bottom: 10%;
    }

    .tovar_block {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .avatar img {
        width: 15%;
        margin: 15px;
    }

    .moon, .moon2 {
        width: 4%;
        top: 3%;
    }

    .prem_block,.prem_block_hat {
        width: 75%;
    }

    .audio_block {
        width: 75%;
    }

    .articles{
        margin-top: 10%;
    }
}