@import url('https://fonts.googleapis.com/css?family=Jost:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,latin-ext');

body,html {
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
    transition:.5s;
    scroll-behavior: smooth;
}

h1::selection,h2::selection,h3::selection,h4::selection,h5::selection,h6::selection,a::selection, img::selection{
    background: #000;
    color:  white;
}


.menu_button::selection, .logo::selection, .dark 
h1::selection, .dark h2::selection, .dark h3::selection,.dark h4::selection, .dark h5::selection,.dark h6::selection,.dark a::selection{
    background: rgb(255, 255, 255);
    color:  rgb(0, 0, 0);
}

body {
    background: #f3f3f3;
}

header {
    background: #000;
    padding: 20px;
    transition: .5s;
}

@keyframes s3tart {
    from {
        transform: scale(1.15);

    }

    50% {
        transform: scale(1);
    }
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_button {
    color: #f3f3f3;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    transition: .5s;
}

.logo {
    width: 20%;
    margin-left: 40%;
    animation: s3tart 6.5s;
}

.menu_button:hover {
    transform: scale(1.1);
}

.about {
    text-align: center;
    margin-top: 2%;
}


.moon {
    filter: invert(100);
    width: 2%;
    position: absolute;
    top: 5%;
    right: 5%;
}

.moon2 {
    filter: invert(100);
    display: none;
    width: 2%;
    position: absolute;
    top: 5%;
    right: 5%;
}

.dark {
    background: #000;
}

.dark .about {
    color: white;
}

.dark .moon, .dark .moon2 {
    filter: invert(100);
}

.dark header {
    background: rgb(7, 7, 7);
}

.dots_anchor {
    position: fixed;
    right: -7%;
    left: auto;
    width: 10%;
    opacity: 0;
    transition: .5s;
}

.anchor_dot img {
    width: 5%;
    opacity: 0.4;
    transition: .5s;
}

.opacity {
    opacity: 1;
    transition: .5s;
}


.anchor_dot img:hover {
    opacity: 1;
}

.dark .anchor_dot img {
    filter: invert(100);
}

.anchor_dot {
    display: flex;
    align-items: center;
    margin: 5px;
}

.dark .menu_button {
    color: rgb(255, 255, 255);
}

.dark .logo {
    filter: invert(0);
}

.visible {
    display: block;
}

.inv {
    display: none;
}

.news_block {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background: rgb(250, 250, 250);
    color: rgb(0, 0, 0);
    transition: .5s;
    padding: 20px;
    margin-bottom: 5%;
}

.small_width {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.small_width_a {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
    transition: .5s;
}

a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}


.dark .small_width_a {
    color: white;
}

.news_slider {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.dark .news_block {
    background: rgb(5, 5, 5);
    color: white;
}

.about h1, .logo, .about h2, .about h3 {
    transition: .5s;
}

.title_block a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: .5s;
}

.dark .title_block a {
    color: white;
}

.img_block {
    width: 100%;
}

.trail {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size:30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    transition: .5s;
}

.dark .trail {
    color: white;
}

.trail:hover {
    transform: scale(1.15);
}

.avatar img {
    border-radius: 50px;
    width: 5%;
    margin: 5px;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nodec, .nodec2 {
    color: black;
    text-decoration: none;
    transition: .5s;
}

.nodec2 {
    font-weight: 600;
}

.dark .nodec, .dark .nodec2 {
    color: white;
}

.video_inter {
    width: 70%;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    margin: 20px;
    height: 250px;
    object-fit: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.articles {
    margin-top: 2%;
}

#dark_button {
    color: black;
}

.dark #dark_button {
    color: white;
}

.audio_block {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background: rgb(250, 250, 250);
    padding: 25px;
    width: 30%;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: .5s;
}

.dark .audio_block {
    background: rgb(8, 8, 8);
    color: white;
}

.about h5 {
    transition: .5s;
}

audio {
    width: 100%;
}

.prem_block {
    background: white;
    width: 20%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    transition: .5s;
}

.prem_block h3 {
    font-weight: 400;
    margin: 20px;
}

.prem_block_hat {
    background: #000;
    color: white;
    width: 20%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: .5s;
}

.prem_but {
    font-size: 20px;
    text-decoration: none;
    background: #000;
    color: white;
    border-radius: 30px;
    padding: 10px;
    transition: .5s;
}

.prem_but:hover {
    color: black;
    background: white;
}

.dark .prem_block {
    background: #000;
    color: white;
}

.dark .prem_block_hat {
    background: rgb(10, 10, 10);
}

.dark .prem_but:hover {
    background: rgb(10, 10, 10);
    color: white;
}

.card {
    width: 80%;
    border-radius: 15px;
    margin: 20px;
    text-decoration: none;
    color: white;
    margin-right: auto;
    margin-left: auto;
}

.card_button {
    color: black;
    text-decoration: none;
}

.dark .card_button {
    color: white;
}

.global_card {
    background: rgb(250, 250, 250);
    border-radius: 15px;
    width: 20%;
    padding: 20px;
    margin: 20px;
    transition: .5s;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.dark .global_card {
    background-color: rgb(7, 7, 7);
}

@media (max-width: 478px) {
    .anchor_dot img {
        width: 20%;
    }

    .dots_anchor {
        right: -2%;
    }

    .avatar img {
        width: 15%;
        margin: 15px;
    }

    .moon, .moon2 {
        width: 4%;
        top: 3%;
    }

    .prem_block,.prem_block_hat {
        width: 75%;
    }
}